// @import './fonts/style.css';
@import './common/var';
@import './common/1px';
@import './common/ellipsis';
@import './common/transition';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
    'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: $color-dark;
}
button,
input,
textarea {
  outline: none;
}
