{
  "presets": [
    ["@babel/preset-env", {
        "loose": true,
        "modules": false
      }
    ],
    ["@vue/babel-preset-jsx", {
        "functional": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-object-assign"
  ]
}
