@import './common/var';
@import './spinner.scss';

.i-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $button-height-default;
  padding: 0 15px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $color-light;
  color: $color-dark;
  cursor: pointer;
  .i-spinner{
    margin-right: 3px;
  }
  &::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    border-color: #000;
    background-color: #000;
    border-radius: inherit;
    transform: translate(-50%, -50%);
  }
  &:active::before {
    opacity: 0.15;
  }
  &:disabled,
  &--loading {
    opacity: 0.5;
    cursor: not-allowed;
    &:active::before {
      opacity: 0;
    }
  }
  &--primary {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $color-light;
  }
  &--info {
    border: 1px solid $info-color;
    background-color: $info-color;
    color: $color-light;
  }
  // &--success {
  //   border: 1px solid $success-color;
  //   background-color: $success-color;
  //   color: $color-light;
  // }
  &--danger {
    border: 1px solid $danger-color;
    background-color: $danger-color;
    color: $color-light;
  }
  &--warning {
    border: 1px solid $warning-color;
    background-color: $warning-color;
    color: $color-light;
  }
  &--round {
    border-radius: 10em;
  }
  &--large {
    width: 100%;
    height: $button-height-large;
  }
  &--small {
    height: $button-height-small;
    padding: 0 8px;
    font-size: 13px;
  }
  &--mini {
    height: $button-height-mini;
    padding: 0 5px;
    font-size: 12px;
  }
}
