@import './common/var';

.i-checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 10px;
  &__icon {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    color: transparent;
    transition: 0.2s;
  }
  &__label {
    font-size: 14px;
    margin-left: 5px;
  }
  &--checked {
    .i-checkbox__icon {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
    }
  }
  &--disabled {
    opacity: 0.5;
  }
}
