.i-col {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}

$i: 1;

@while $i <= 24 {
  .i-col--#{$i} {
    width: $i * 100% / 24;
  }
  .i-col--offset-#{$i} {
    margin-left: $i * 100% / 24;
  }

  $i: $i + 1;
}
