@import './common/var';

// transition-duration
$duration: 0.3s;

.i-radio {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 10px;
  &__icon {
    position: relative;
    height: 16px;
    width: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: border-color $duration;
    color: $primary-color;
    &::after {
      content: ' ';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 3px;
      left: 3px;
      border-radius: 50%;
      background-color: currentColor;
      transform: scale(0.5);
      opacity: 0;
      transition: transform $duration, opacity $duration;
    }
  }
  &__label {
    font-size: 14px;
    margin-left: 5px;
  }
  &--checked {
    .i-radio__icon {
      border-color: currentColor;
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  &--disabled {
    opacity: 0.5;
  }
}
