@import './common/var';
@import './spinner.scss';

$width: $switch-width - 2px;
$height: $switch-height - 2px;

.i-switch {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: ($height + 2px) / 2;
  box-sizing: content-box;
  background-color: #fff;
  transition: background-color 0.3s;
  &__node {
    position: absolute;
    width: $height;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    top: 0;
    left: 0;
    box-shadow:
      0 1px 1px 0 rgba(0, 0, 0, 0.05),
      0 2px 2px 0 rgba(0, 0, 0, 0.1),
      0 3px 3px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    transition: transform 0.3s;
  }
  &--on {
    background-color: $primary-color;
    .i-switch__node {
      transform: translateX($width - $height);
    }
  }
  &--disabled {
    opacity: 0.5;
  }
}
