@import './common/var';

.i-tabbar-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a9b1b9;
  &__icon {
    position: relative;
    margin-bottom: 5px;
    font-size: 16px;
  }
  &__icon--dot::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f44;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
  &__text {
    font-size: 12px;
  }
  &--active {
    color: $primary-color;
  }
  img {
    height: 20px;
    margin-bottom: 5px;
  }
}
