/* Color
-------------------------- */
$primary-color: #4a4d5a;
$info-color: #409eff;
$warning-color: #fdb470;
$success-color: #36be52;
$danger-color: #f86f74;
$dark-color: #34495e;
$light-color: #fff;

/* Border
-------------------------- */
$border-radius: 2px;
$border-color: #eee;

/* NavBar
-------------------------- */
$nav-bar-height: 50px;

/* TabBar
-------------------------- */
$tab-bar-height: 50px;

/* Button
-------------------------- */
$button-height-mini: 25px;
$button-height-small: 35px;
$button-height-normal: 45px;
$button-height-large: 50px;

/* Tag
-------------------------- */
$tag-height: 24px;

/* Switch
-------------------------- */
$switch-width: 50px;
$switch-height: 30px;

/* Tab
-------------------------- */
$tab-height_line: 44px;
$tab-height_card: 30px;

/* NoticeBar
-------------------------- */

/* Actionsheet
-------------------------- */
$action-height: 45px;
