/* Color
-------------------------- */
$primary-color: #4a4d5a;
$info-color: #409eff;
$warning-color: #fda830;
$success-color: #36be52;
$danger-color: #f86f74;
$color-dark: #34495e;
$color-light: #fff;

/* Border
-------------------------- */
$border-radius: 1px;
$border-color: #eee;

/* NavBar
-------------------------- */
$nav-bar-height: 50px;

/* TabBar
-------------------------- */
$tab-bar-height: 50px;

/* Button
-------------------------- */
$button-height-mini: 26px;
$button-height-small: 34px;
$button-height-default: 44px;
$button-height-large: 50px;

/* Tag
-------------------------- */
$tag-height: 26px;

/* Switch
-------------------------- */
$switch-width: 50px;
$switch-height: 30px;

/* Checkbox
-------------------------- */


/* NoticeBar
-------------------------- */